<ion-pane ng-controller="DetailCtrl">
  <ion-view view-title="Nutrition Search">
    <ion-content class="has-subheader">
    <!-- The content of the page -->
      <div class="list">
        <!-- {{items.fields.item_id}} -->
          {{helpMe}}
        {{item.item_id}}
        nf_total_carbohydrate: {{item.nf_total_carbohydrate}}<br>
        nf_dietary_fiber: {{item.nf_dietary_fiber}}<br>
        nf_sugars: {{item.nf_sugars}}<br>
        nf_protein: {{item.nf_protein}}<br>
        nf_vitamin_a_dv: {{item.nf_vitamin_a_dv}}<br>
        nf_vitamin_c_dv: {{item.nf_vitamin_c_dv}}<br>
        nf_calcium_dv: {{item.nf_calcium_dv}}<br>
        nf_iron_dv: {{item.nf_iron_dv}}<br>
      </div>
    </ion-content>
  </ion-view>
</ion-pane>
